@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #82beff;
}

* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.impact-hacks-img {
  animation: bounceAnimation 5s ease-in-out infinite;
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #5f94ff;
}

::-webkit-scrollbar-thumb {
  background-color: #89b0ff;
  border-radius: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

